:root {
  --main-color: #c5d4cf;
  --main-text-color: #4d524c;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", "Gill Sans", "Gill Sans MT", Calibri,
    sans-sarif;
}

.header {
  background-color: var(--main-color);
  height: 600px;
  background-color: var(--main-color);
}

header > .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
  margin-bottom: 86px;
}

.nav-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation > .navigation-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.navigation-links > a {
  font-size: 18px;
  text-decoration: none;
  color: var(--main-text-color);
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 8px 25px;
}

.navigation-links > a:link,
.navigation-links > a:visited {
  border: 1px solid transparent;
}

.navigation-links > a:hover,
.navigation-links > a:active {
  border: 2px solid var(--main-text-color);
}

.nav-flex > h1 {
  font-size: 84px;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-flex > h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #4d524cd0;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 15px;
}

.container-all-elements {
  width: 100%;
}

@media (max-width: 550px) {
  .navigation {
    display: flex;
    flex-direction: column-reverse;
  }
  .navigation > img {
    margin-top: 50px;
    box-shadow: 15px 1px 20px rgb(0 0 0 / 25%);
    padding: 10px 20px;
  }
}

@media (max-width: 422px) {
  .header .navigation-links {
    flex-direction: column;
    text-align: center;
  }

  .header .nav-flex > h1 {
    font-size: 42px;
  }
}
