:root {
  --main-color: #c5d4cf;
  --main-text-color: #4d524c;
}

.section-1 {
  margin-top: 148px;
  margin-bottom: 148px;
}

.section-1 > .section-1-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 62px;
}

.small-border {
  border: 1.5px solid var(--main-text-color);
  background-color: var(--main-text-color);
  width: 60px;
}

h6 {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-weight: 500;
  margin-bottom: 12px;
}

.small-img {
  height: 230px;
  width: 310px;
  margin-bottom: 40px;
}

.section-1 > .three-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-content: center;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.253);
}

.element:hover {
  transform: scale(1.1);
}

.element > .element-text {
  font-size: 16px;
  padding: 20px 40px 30px 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}
